body {
  font-family: Roboto;
  text-decoration: none;
  padding: 0;
  margin: 0;
  background-image: url("https://pre00.deviantart.net/75aa/th/pre/i/2013/198/8/3/late_night_texture_by_cacooiestock-d6dw6zx.jpg");

  header {
  text-align: center;
  padding: 20px;
  background: white;
  margin: 0;
  font-family: 'Arial', sans-serif;
    img{
       height: 100px;
    }
  }

  nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  background: black;
  padding: 25px;
  margin: 0;

    a{
    color: white;
    text-decoration: none;  
    }

    a:hover{
         color: gray;
      }
  }

  footer {
   
  padding: 2rem;
  color: white;
  background-color: black;
  text-align: center;
  }

  main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;


    section {
        width: 100%;
    margin-top: 5%;
    padding: 15px;
    display: block;
    text-align: center;
    background: white;
       margin: 1%;
    height: 0 auto;
    
border: 10px solid #d6d6d6;

      div{
       text-align: justify;
      }
      
      img{
        width: 15%
      }

      h3{
        font-family: 'Roboto', sans-serif;
      }
    }
  }
}





